<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <section class="section">
        <div class="container">
            <div>
                <form class="product-form" action="/products/<%=product.id%>" method="POST">
                    <input hidden value="<%=product.id%>" name="id">
                    <div class="field">
                        <label class="label">Change to what</label>
                        changing your previous task
                        <div class="control">
                            <input class="input" type="text" value="<%=product.title%>" name="title">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">Update Task</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <%- include('../includes/scripts.ejs') %>
</body>

</html>