<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
               <div class="column is-one-quarter">
                <% if (prods.length > 0) { %>
                <% for (let products of prods) { %>
                <div class="content">         
                   <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content"> 
                                    <p class="title is-4"><%=products.title%></p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a class="card-footer-item" href="products/<%=products.id%>/edit">
                                    <span class="icon">
                                        <i class="mdi mdi-pencil"></i>
                                    </span>
                                    <span>Edit</span>
                                </a>
                                <a class="card-footer-item" href="products/<%=products.id%>/delete">
                                    <span class="icon">
                                        <i class="mdi mdi-delete"></i>
                                    </span>
                                    <span>Delete</span>
                                </a>
                            </footer>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } else { %>
                <h1>No Products Found!</h1>
                <% } %>
            </div>
        </div>
    </section>
    <%- include('../includes/scripts.ejs') %>
</body>

</html>